.product_page {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}

@media (min-width: 768px) {
  .product_page {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

.product_image img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

.product_details {
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
}

.product_details h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.product_details p {
  font-size: 16px;
  line-height: 1.6;
}

.product_details h3 {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.add_to_cart,
.cancle {
  width: 100%;
  max-width: 350px;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add_to_cart {
  background-color: #676968;
  color: white;
}

.add_to_cart:hover {
  background-color: #4d504e;
}

.cancle {
  background-color: #c40b0b;
  color: white;
}

.cancle:hover {
  background-color: #fd0000;
}

/* Responsive Adjustments */
@media (max-width: 480px) {
  .product_details h1 {
    font-size: 22px;
  }

  .product_details h3 {
    font-size: 20px;
  }

  .add_to_cart,
  .cancle {
    font-size: 16px;
  }
}
